.env
venv
.venv
cleaned_data/final_dataset.csv
converted_csv
for_convert/application_metadata.csv
for_convert/demographics.csv
for_convert/credit_history.parquet
for_convert/loan_details.xlsx
for_convert/geographic_data.xml
for_convert/financial_ratios.jsonl
for_model/dataset_for_models.csv
.idea